#container{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-left: 140px; 
    margin-right: 140px;
    border-radius: 10px;
    border: solid;
    border-color: rgb(44, 177, 192);
    background-color: rgb(184, 131, 62);
}

div h1{
    color: blue;
    font-size: 36pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div input{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#ResultText{
    font-style: italic;
}